.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: #212121;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

p, h1, h2, h3, h4, h5, h6, ul {
  margin-bottom: 0;
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 1200px) {
  .section {
    padding: 60px 0;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.no-scroll {
  overflow: hidden;
}

.header {
  border: 1px solid #E7E9FC;
  position: relative;
}
@media screen and (max-width: 768px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.header__container {
  position: relative;
}
@media screen and (max-width: 1199px) {
  .header__container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-right: 0;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .header__nav {
    height: auto;
    margin-right: auto;
  }
}

.header-nav__main {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3333333333;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4D5AE5;
  text-decoration: none;
  margin-right: 91px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-studio {
  font-weight: 800;
  color: #2E2F42;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .header-nav__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-nav__box .header-mobile__box {
    display: block;
  }
  .header-nav__box .header-mobile-social__list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-nav__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: baseline;
  }
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-nav__list .header-nav__item:not(:first-child) {
  margin-left: 50px;
}
@media screen and (max-width: 767px) {
  .header-nav__list {
    display: none;
  }
}

.header-nav__link {
  position: relative;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav__link:hover, .header-nav__link:focus {
  color: #4D5AE5;
}
.header-nav__link::after {
  content: "";
  position: absolute;
  bottom: -32.6px;
  width: 100%;
  height: 4px;
  display: block;
  border-radius: 2px;
  background-color: #4D5AE5;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav__link:hover::after, .header-nav__link:focus::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header-nav__active-link {
  position: relative;
  color: #4D5AE5;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
}
.header-nav__active-link::after {
  content: "";
  position: absolute;
  bottom: -32.6px;
  width: 100%;
  height: 4px;
  display: block;
  border-radius: 2px;
  background-color: #4D5AE5;
}

.header-contacts__list {
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .header-contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts__list .header-contacts__item:not(:first-child) {
    margin-left: 50px;
  }
}

.header-contacts__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .header-contacts__box {
    display: none;
  }
}

.header-contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  color: #757575;
  text-decoration: none;
  fill: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts__link:hover, .header-contacts__link:focus {
  color: #4D5AE5;
  fill: #4D5AE5;
}

.header-contacts__icon-convert {
  display: inline-block;
  margin-right: 10px;
}

.header-contacts__icon-smartphone {
  display: inline-block;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .header-mobile__box {
    display: none;
  }
}

.header-mobile__button {
  position: absolute;
  background-color: transparent;
  border: none;
  top: 6px;
  right: 0;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-mobile__button:hover, .header-mobile__button:focus {
  fill: #4D5AE5;
}

.header-mobile__svg {
  width: 24px;
  height: 18.67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  background-color: #2E2F42;
}
.footer .footer-nav__main {
  margin-right: 0;
}
@media screen and (max-width: 1199px) {
  .footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.foot__body {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .foot__body {
    padding: 0 108px;
  }
}
@media screen and (min-width: 1200px) {
  .foot__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .foot__tablet-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 72px;
  }
}
@media screen and (min-width: 1200px) {
  .foot__tablet-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 767px) {
  .adder {
    margin-bottom: 72px;
  }
}
.footer__studio {
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .footer-nav__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.foot__text {
  margin-top: 16px;
  font-size: 16px;
  width: 268px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #E7E9FC;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .foot__text {
    width: 264px;
  }
}
@media screen and (min-width: 1200px) {
  .foot__text {
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer__join {
    margin-left: 24px;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer__join {
    margin-left: 120px;
  }
}

.footer__join-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.7142857143;
  color: #ffffff;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .footer__join-title {
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__join-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer__svg-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__svg-list .footer-svg-list__item:not(:last-child) {
  margin-right: 10px;
}
@media screen and (max-width: 767px) {
  .footer__svg-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 72px;
  }
}

.footer__svg-link {
  height: 40px;
  width: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__svg-link:hover, .footer__svg-link:focus {
  background-color: #4D5AE5;
}

.footer__svg-icon {
  fill: #F5F4FA;
}

@media screen and (min-width: 1200px) {
  .footer-form__box {
    margin-left: 80px;
  }
}

.footer-form__title {
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .footer-form__title {
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .footer__form {
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-form__field {
  display: block;
}
@media screen and (max-width: 767px) {
  .footer-form__field {
    margin-right: auto;
    margin-left: auto;
    max-width: 396px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form__field {
    margin-right: 24px;
    max-width: 264px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__field {
    margin-right: 24px;
    width: 264px;
  }
}

.footer-form__input {
  display: block;
  outline: none;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding: 15px 16px;
  height: 40px;
  color: #ffffff;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form__input:focus {
  border-color: #4D5AE5;
}
@media screen and (max-width: 767px) {
  .footer-form__input {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form__input {
    width: 264px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 264px;
  }
}

.footer-form__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #4D5AE5;
  padding: 8px 24px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px solid transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  letter-spacing: 0.04em;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form__submit:hover, .footer-form__submit:focus {
  background-color: #404BBF;
}
@media screen and (max-width: 767px) {
  .footer-form__submit {
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form__submit {
    margin-top: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__submit {
    margin-top: auto;
  }
}

.footer-form__icon-send {
  margin-left: 10px;
  fill: #ffffff;
}

.solution {
  background-color: #2f303a;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-width: 1600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 480px) {
  .solution {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url("../images/hero-mobilex1.jpg");
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero-mobilex1.jpg");
    padding: 112px 0;
    max-width: 428px;
  }
}
@media screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 480px) and (min-resolution: 2dppx) {
  .solution {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url("../images/hero-mobilex2.jpg");
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero-mobilex2.jpg");
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .solution {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url("../images/hero-tabletx1.jpg");
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero-tabletx1.jpg");
    padding: 112px 0;
    max-width: 428px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (max-width: 767px) and (min-resolution: 2dppx) {
  .solution {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url("../images/hero-tabletx2.jpg");
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero-tabletx2.jpg");
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .solution {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url("../images/hero-tabletx1.jpg");
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero-tabletx1.jpg");
    padding: 112px 0;
    max-width: 768px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (max-width: 767px) and (min-resolution: 2dppx) {
  .solution {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url("../images/hero-tabletx2.jpg");
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero-tabletx2.jpg");
  }
}
@media screen and (min-width: 768px) {
  .solution {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url("../images/hero-pcx1.jpg");
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero-pcx1.jpg");
    padding: 188px 0;
    max-width: 1440px;
  }
}
@media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .solution {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url("../images/hero-pcx2.jpg");
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero-pcx2.jpg");
  }
}

.solution__text {
  width: 360px;
  color: #ffffff;
  text-transform: uppercase;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0;
}
@media screen and (max-width: 767px) {
  .solution__text {
    font-size: 36px;
    line-height: 1.1111111111;
  }
}

.solution__button {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  background-color: #4D5AE5;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.solution__button:hover, .solution__button:focus {
  background-color: #404BBF;
}

.features__list {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .features__list {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -12px;
  }
}
@media screen and (min-width: 1200px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .features__list .features-list__item::before {
    content: "";
    height: 120px;
    display: block;
    background-color: #F5F4FA;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 480px) {
  .features-list__item {
    width: 100%;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .features-list__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-list__item {
    margin: 12px;
    width: calc((100% - 48px) / 2);
  }
  .features-list__item:not(:nth-child(3)), .features-list__item:not(:nth-child(4)) {
    margin-bottom: 72px;
  }
}
@media screen and (min-width: 1200px) {
  .features-list__item {
    margin: 12px;
    width: calc((100% - 96px) / 4);
  }
}
.features-list__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .features__icon::before {
    background-repeat: no-repeat;
    background-position: center;
  }
  .plate::before {
    background-image: url("../images/plate.svg");
  }
  .clock::before {
    background-image: url("../images/clock.svg");
  }
  .computer::before {
    background-image: url("../images/computer.svg");
  }
  .space::before {
    background-image: url("../images/space.svg");
  }
}
.features__title {
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .features__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1111111111;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1111111111;
  }
}
@media screen and (min-width: 1200px) {
  .features__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.features__text {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}
@media screen and (max-width: 1199px) {
  .features__text {
    font-weight: 500;
  }
}
@media screen and (1200px) {
  .features__text {
    font-weight: 400;
  }
}

.speciality {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .speciality {
    display: none;
  }
}

.speciality__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}

.speciality__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.speciality__list .speciality-list__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.team__container {
  padding-top: 96px;
  padding-bottom: 128px;
  background-color: #F5F4FA;
}

.team__title {
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  margin-bottom: 72px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.team__list .team-list__item:not(:nth-child(4n)) {
  margin-bottom: 30px;
}
.team__list .team-list__item {
  width: 264px;
}
@media screen and (max-width: 767px) {
  .team__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 72px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 32px;
    -webkit-column-gap: 12px;
       -moz-column-gap: 12px;
            column-gap: 12px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 12px;
  }
}

.team__frame {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 24px;
}

.team__names {
  font-weight: 500;
  color: #2E2F42;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 10px;
  text-align: center;
}

.team__job {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  font-weight: 400;
  text-align: center;
  margin-bottom: 16px;
}

.team__svg-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.team__svg-list .team-svg-list__item {
  height: 40px;
  width: 40px;
}
.team__svg-list .team-svg-list__item:not(:last-child) {
  margin-right: 24px;
}

.team-svg__link {
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #4D5AE5;
  fill: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-svg__link:hover, .team-svg__link:focus {
  background-color: #ffffff;
  fill: #4D5AE5;
}

.clients__title {
  text-align: center;
  font-size: 36px;
  line-height: 1.1666666667;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 72px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .clients__list {
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
    row-gap: 64px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__list {
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
    row-gap: 72px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
  }
}

.clients-list__item {
  height: 88px;
}
@media screen and (max-width: 767px) {
  .clients-list__item {
    width: 190px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-list__item {
    width: 168px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__item {
    width: 168px;
  }
}

.clients__link {
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border-color: #4D5AE5;
  fill: #4D5AE5;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  padding: 24px;
  padding-top: 72px;
  max-width: 408px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal .policy-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin-bottom: 0px;
  fill: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .modal {
    top: 5.1612903226;
    min-height: 609px;
    width: 450px;
    margin-right: 15px;
    margin-left: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal {
    height: 609px;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: block;
  background-color: #E7E9FC;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: black;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover, .close-button:focus {
  fill: #4D5AE5;
}

.modal-h {
  margin-bottom: 34px;
  color: #2E2F42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.form-label {
  position: relative;
  margin-bottom: 26px;
  display: block;
  width: 360px;
  height: 40px;
}
.form-label:focus-within .form-icons {
  fill: #4D5AE5;
}

.label-text {
  position: absolute;
  top: -8px;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3333333333;
  color: #757575;
}

.form-icons {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-icons .man {
  left: 15px;
}
.form-icons .tel {
  left: 14.27px;
}
.form-icons .conv {
  left: 13.5px;
}

.form-input {
  padding-top: 12px;
  padding-bottom: 12px;
  width: calc(100% - 54px);
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  width: 100%;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:not(:last-child) {
  height: 40px;
}
.form-input:focus {
  border-color: #4D5AE5;
}

.in {
  padding-left: 42px;
}

.ta {
  padding: 12px 16px;
  font-size: 12px;
}
.ta:-moz-placeholder-shown {
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  color: #757575;
}
.ta:-ms-input-placeholder {
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  color: #757575;
}
.ta:placeholder-shown {
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  color: #757575;
}

.form .comment {
  margin-bottom: 16px;
  max-width: 360px;
  max-height: 120px;
}

textarea {
  resize: none;
}

.policy-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 24px;
}

.policy-checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}
.policy-checkbox:checked + .custom-checkbox {
  background-color: #4D5AE5;
  border-color: transparent;
}

.custom-checkbox {
  border: 2px solid;
  border-color: #212121;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 7px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-text {
  font-size: 14px;
  line-height: 1.7142857143;
  color: #757575;
}

.policy-link {
  color: #4D5AE5;
}

.submit-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-submit {
  padding: 16px 32px;
  background-color: #4D5AE5;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-submit:hover, .form-submit:focus {
  background-color: #404BBF;
}

.portfolio__buttons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.portfolio__buttons-list .portfolio-buttons-list__item:not(:last-child) {
  margin-right: 24px;
}
@media screen and (max-width: 767px) {
  .portfolio__buttons-list {
    margin-bottom: 40px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__buttons-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__buttons-list {
    margin-bottom: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.portfolio__button {
  font-weight: 500;
  font-size: 16px;
  color: #4D5AE5;
  line-height: 1.625;
  font-family: inherit;
  text-align: center;
  background-color: #F5F4FA;
  border-radius: 4px;
  border: 1px solid #E7E9FC;
  padding: 12px 24px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__button:hover, .portfolio__button:focus {
  background-color: #4D5AE5;
  color: #ffffff;
  border-color: transparent;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio__button.usi {
  padding-right: 26px;
  padding-left: 26px;
}
@media screen and (max-width: 767px) {
  .portfolio__button {
    padding: 8px 16px;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 768px) {
  .portfolio__table {
    display: block;
  }
  .portfolio__table .portfolio-table__item {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
    row-gap: 72px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
    row-gap: 48px;
  }
}

.portfolio-table__img {
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .portfolio-table__img {
    width: 396px;
    height: 280px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-table__img {
    width: 356px;
    height: 300px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-table__img {
    width: 360px;
    height: 300px;
  }
}

.portfolio-table__link {
  text-decoration: none;
  color: #212121;
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-table__link:hover, .portfolio-table__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-table__card-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-table__card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4D5AE5;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-table__link:hover .portfolio-table__card-overlay, .portfolio-table__link:focus .portfolio-table__card-overlay {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.portfolio-table__overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .portfolio-table__overlay-text {
    padding: 77px 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-table__overlay-text {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 49px;
    padding-bottom: 77px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-table__overlay-text {
    padding: 40px 32px;
  }
}

.portfolio-table__text-box {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-table__card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
}

.portfolio-table__card-text {
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
}

.js-menu-container {
  width: 100vw;
  height: 100%;
  position: fixed;
  background-color: #ffffff;
  top: 0;
  z-index: 99;
  padding-top: 80px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .js-menu-container {
    display: none;
  }
  .js-menu-container .js-open-menu {
    display: none;
  }
}

.js-menu-container.is-hidden .js-open-menu {
  display: none;
}

.js-menu-container .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: auto;
}

.menu-open__icon {
  stroke: #2E2F42;
}

.js-open-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  width: 32px;
  height: 32px;
  padding: 0;
  border: 0;
}
@media screen and (min-width: 768px) {
  .js-open-menu {
    display: none;
  }
}

.js-close-menu {
  fill: #000000;
  height: 24px;
  width: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #E7E9FC;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 40px;
  right: 40px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.js-close-menu:hover, .js-close-menu:focus {
  background-color: #404BBF;
  fill: #ffffff;
}

.icon-close {
  stroke: #000000;
}

.mobile-menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.mobile-nav__active-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1111111111;
  color: #404BBF;
}

.mobile-nav__link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1111111111;
  color: #2E2F42;
}

.mobile__svg-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mobile__svg-list .mobile-svg-list__item {
  height: 40px;
  width: 40px;
}

.mobile-contacts__box {
  margin-bottom: 48px;
}

.mobile-contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.mobile-number__link {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.1111111111;
  color: #4D5AE5;
}

.mobile-mail__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #434455;
}

.mobile__svg-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 56px;
     -moz-column-gap: 56px;
          column-gap: 56px;
}

.mobile-svg__link {
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #4D5AE5;
  fill: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-svg__link:hover, .mobile-svg__link:focus {
  background-color: #ffffff;
  fill: #4D5AE5;
}

@media screen and (max-width: 767px) {
  .speciality {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */