$text-color: #212121;
$hover-color: #4D5AE5;
$button-hover: #404BBF;
$p-color: #757575;
$white-color: #ffffff;
$button-bgc: #F4F4FD;
$black: #000000;
$background-big: #2f303a;
$sgv-icon-color: #afb1b8;
$border-color: #ececec;
$card-set-gap: 30px;
$card-text-lrpad: 24px;
$card-text-btpad: 20px;
$foot-svg-background: rgba(255, 255, 255, 0.1);
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$button-bgc: #F5F4FA;
$team-name: #2E2F42;
$team-job: #434455;
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;