@media screen and (min-width: 768px) and (max-width: 1199px)  {
    .clients.container{
        width: 582px;
    }
}

.clients__title {
    text-align: center;
    font-size: 36px;
    line-height: calc(42 / 36);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 72px;
}

.clients__list {
    display: flex;
    column-gap: 24px;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 767px) {
        column-gap: 16px;
        row-gap: 72px;
        flex-wrap: wrap;
    }

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
        column-gap: 24px;
        row-gap: 72px;
        flex-wrap: wrap;
    }

    @media screen and (min-width: $desktop) {
        column-gap: 24px;
    }
}

.clients-list__item {
    height: 88px;
    width: calc((100% - 48px) / 2);

    @media screen and (max-width: 767px) {
            max-width: 190px;
    }

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
        width: calc((100% - 48px) / 3);
    }

    @media screen and (min-width: $desktop) {
        width: calc((100% - 48px) / 2);
    }
}

.clients__box {
}

.clients__link {
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: $sgv-icon-color;
    transition: border-color 250ms $cubic, fill 250ms $cubic;

    &:hover,
    &:focus {
        border-color: $hover-color;
        fill: $hover-color;
    }

    @media screen and (min-width: $mobile) and (max-width: 1199px) {

    }
}

.clients-svg{
    width: 104px;
    height: 56px;
}