.speciality {
    padding-top: 0;
    @media screen and (max-width: 1199px) {
            & {
                display: none;
            }
        }
}

.speciality__title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    letter-spacing: 0.02em;
    color: $team-name;
    text-align: center;
    margin-bottom: 72px;
}

.speciality__list {
    display: flex;

    & .speciality-list__item:not(:nth-child(3n)) {
        margin-right: 30px;
    }
}