$domain-text-color: #212121;
$hover-color: #2196f3;
$button-hover: #188ce8;
$p-color: #757575;
$default-color: #ffffff;
$button-bgc: #f5f4fa;
$black: #000000;
$background-big: #2f303a;
$sgv-icon-color: #afb1b8;
$border-color: #ececec;
$card-set-gap: 30px;
$card-text-lrpad: 24px;
$card-text-btpad: 20px;
$foot-svg-background: rgba(255, 255, 255, 0.1);
$cubic: cubic-bezier(0.4, 0, 0.2, 1);